@font-face {
  font-family: "ubuntu-font";
  src: url("./font/Ubuntu-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu-font";
}
body {
  background-color: #f3f2ef;
  text-align: center;
}
.tittle {
  font-weight: bolder;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
section svg {
  width: 135px;
}
section h2 {
  font-weight: 400;
  margin: 1.5rem;
  font-size: 1.8rem;
}

form {
  background-color: #fff;
  width: 400px;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}
form input {
  width: 100%;
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #1a1a1a;
}
form input:focus {
  box-shadow: 0 0 0 2px #1a1a1a;
}
form label {
  display: block;
  text-align: left;
  color: #00000099;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
form .form_group {
  margin: 1rem 0;
}
form p {
  font-size: 0.7rem;
  color: #00000099;
  margin: 1rem 0;
}
form p a {
  font-weight: 600;
}
a {
  color: #0a66c2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
form button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 100vw;
  border: none;
  cursor: pointer;
}
form .join-btn {
  background-color: #0a66c2;
  color: #fff;
  font-size: 1rem;
  transition: 100ms ease-in-out background-color;
}
form .join-btn:hover {
  background-color: #0c4885;
}
.separator {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}
.separator .line {
  height: 1px;
  flex: 1;
  background-color: #c5c5c5;
}
.separator h4 {
  padding: 0 1rem;
  font-size: 0.9rem;
  font-weight: 300;
}
.logo {
  width: 250px;
  height: auto;
}
form .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  box-shadow: 0 0 0 1px #0a66c2;
  background-color: transparent;
  color: #0a66c2;
  font-weight: 500;
  font-size: 1rem;
  transition: 150ms ease-in-out box-shadow, 150ms ease-in-out background-color;
}
form .google-btn:hover {
  box-shadow: 0 0 0 2px #0a66c2;
  background-color: rgba(10, 102, 194, 0.05);
}
form .google-btn img {
  height: 20px;
}
.signin-para {
  font-size: 0.9rem;
  color: #000;
  font-weight: 300;
  margin-top: 2rem;
}

.get-help {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.get-help a {
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.6rem 0;
}
.copyright {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.copyright * {
  margin: 0 0.2rem;
}
.copyright img {
  width: 60px;
  filter: grayscale(100%);
}
footer * {
  color: #00000099;
  font-size: 0.8rem;
}
footer > * {
  margin: 0 0.5rem;
}
footer > *:hover {
  color: #0a66c2;
}
.join-btn {
  font-weight: bolder;
}
